.featured {
  padding-block: $space-10;

  @include respond-to(md) {
    padding-block: $space-16;
  }

  &__title {
    text-align: center;
    margin-bottom: $space-8;

    @include respond-to(md) {
      margin-bottom: $space-10;
    }
  }
}
